body {
  background: rgb(18, 18, 18);
}

nav {
  align-items: center;
  display: flex;
  color: blue;
  /* margin: 0 auto; */
  width: 100%;
  min-width: 100px;
  justify-content: center;
  margin-bottom: 0;
}

nav > figure > img {
  max-width: 30px;
}

nav > .categories {
  margin-right: 4px;
}

nav > .categories > button {
  height: 30px;
  font-size: 0.94rem;
  border: none;
  background: #222222;
  color: white;
  margin: 0;
  /* background: linear-gradient(to right, rgb(0, 21, 255), rgb(22, 133, 5)); */
  background-color: rgb(3, 3, 193);
  /* border: 1px solid white; */
  margin-left: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav > .categories > button:hover {
  /* background: linear-gradient(to left, blue, green); */
  background-color: dodgerblue;
}

nav > .upload {
  margin: 0 10px 0 10px;
}

nav > .upload > button {
  margin-right: 4px;
  height: 30px;
  background-color: blueviolet;
  padding: 0px 18px;
  font-weight: bolder;
  font-size: 0.85rem;
  border: none;
  color: white;
  cursor: pointer;
}

nav > .upload > button:hover {
  background-color: purple;
}

nav > .user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav > .user > img {
  width: 30px;
  height: 30px;
}
nav > .user > span {
  /* width: 30px; */
  height: 30px;
  background: grey;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-family: Avenir;
}
