/* section */
.search {
  height: 45px;
  width: 100%;
  min-width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.search > input {
  width: 75%;
  font-size: 1.5rem;
  font-family: Avenir;
}
.search img {
  width: 45px;
  height: 45px;
  margin-top: 0px;
}
